<div class="jumbotron">
    <h1>Página em Construção</h1>
    <p class="lead">Página em Construção.</p>

</div>
<div class="row">
    <div class="col-md-4">
        <p>Página em Construção</p>
    </div>
    <div class="col-md-4">
        <p>Página em Construção</p>
    </div>
    <div class="col-md-4">
        <p>Págna em Construção</p>
    </div>
</div>


